ul#admin {
  list-style: none;
  padding: 0;
  justify-content: center;
  gap: 0.5rem;
  flex-direction: column;
}
.spinner {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
