.antalPersoner{
    display: flex;
    justify-content: space-around;
    margin-top: 55px;

.active {
    background-color: white;
    color: black;
}


}

    .mainDiv{
        margin-top: -31px;
        background-image: url(/backround.png);
        height: auto;
       

    }



